<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">E-JOBs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

        <li class="nav-item">
          <a class="nav-link " href="{% url 'browse_job_view' %}">Browse Jobs</a>
        </li>
        {% if request.user.is_authenticated %}
        
        
        
        {% if request.user.user_type == 'Seeker' %}
        <li class="nav-item">
          <a class="nav-link " href="{% url 'dashboard_view' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'my_application' %}">My Application</a>
        </li>
          
        {% endif %}
          
        
        <li class="nav-item">
          <a class="nav-link " href="{% url 'profile_view' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'logout_view' %}">logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link " href="{% url 'login_view' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'register_view' %}">Register</a>
        </li>
        {% endif %}
          
        
        
      </ul>
      
    </div>
  </div>
</nav>